html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: #e8e2d1;
  font-family: 'Helvetica Neue', Helvetica, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', arial, sans-serif;
}

h1 {
  font-size: 26px;
}

a {
  color: #497492;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: #629bc4;
}

#index-container {
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
  padding-top: 10px;
}

#map-img {
  width: 100%;
}

#avatar {
  border-radius: 50%;
  border: 2px solid #fff;
  position: fixed;
  bottom: 15px;
  right: 15px;
  width: 50px;
  height: 50px;
  z-index: 100;
}

#map, #loader {
  position:absolute;
  top:0;
  bottom:0;
  height: 100%;
  width: 100%;
  background: #e8e2d1;
}

#loader p {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

#loader img {
  display: block;
  margin: 128px auto 0 auto;
}

.hide {
  display: none;
}

.dot {
  border: 2px solid #fff;
}
