html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: #fafafa;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
}

span.emoji {
  font-weight: normal;
}

p {
  font-size: 1em;
  line-height: 1.5em;
}

h1 {
  text-align: center;
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

a {
  color: #497492;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: #629bc4;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
  list-style-type: none;
}

ul.navigation li {
  font-size: 1.5em;
  margin: 0 10px;
  opacity: 0.3;
  display: inline;
}

ul.navigation li:hover {
  opacity: 1.0;
}

ul.navigation li.selected {
  opacity: 1.0;
}

.logo {
  display: block;
  margin: 0 auto 26px auto;
  width: 150px;
  border-radius: 50%;
  border: 1px solid #cccfd0;
}

#instafeed {
  width: 100%;
}

#instafeed img {
  width: 25%;
}

#instafeed img:hover {
  opacity: 0.8;
}

#index-container {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
  padding-top: 10px;
}

#background-container {
  background: url(/img/header-background.jpg);
  -webkit-background-size: 150%;
  -moz-background-size: 150%;
  -o-background-size: 150%;
  background-size: 150%;
}

#map-img {
  width: 100%;
  border-radius: 1%;
}

#map-img:hover {
  opacity: 0.8;
}

#avatar {
  border-radius: 50%;
  border: 2px solid #fff;
  position: fixed;
  bottom: 15px;
  right: 15px;
  width: 50px;
  height: 50px;
  z-index: 100;
}

#map, #loader {
  position:absolute;
  top:0;
  bottom:0;
  height: 100%;
  width: 100%;
  background: #fafafa;
}

#loader p {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

#loader img {
  display: block;
  margin: 128px auto 0 auto;
}

.hide {
  display: none;
}

.dot {
  border: 2px solid #fff;
}

header, footer {
  text-align: center;
}

header {
  padding: 26px 0;
  border-bottom: 1px solid #edeeee;
}

footer {
  padding-bottom: 26px;
}

section.brand {
  padding: 40px 0 30px 0;
  border-top: 10px dotted #eee;
}

section.brand aside {
  float: left;
  width: 28%;
}

section.brand article {
  float: right;
  width: 70%;
}

section.brand article h3 {
  margin: 0;
}

section.brand:after {
  content:"";
  display: table;
  clear: both;
}

section.brand img {
  max-width: 100%;
  height: auto;
}

ul.brand-details {
  font-family: "Bitstream Vera Sans Mono", "Consolas", "Courier", monospace;
  line-height: 1.5em;
  margin-top: 0.5em;
}

@media screen and (max-width: 600px) {
  section.brand aside,
  section.brand article {
    float: none;
    width: auto;
  }

  section.brand img {
    padding-bottom: 10px;
  }
}
